<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
      font-family: sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0 1em;
    }
    li {
      text-indent: -2.5em;
      padding-left: 2.5em;
      margin-bottom: 0.2em;
    }
    a {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>  
    <p>TODO: document endpoints</p>
    <footer>
      <a href="https://github.com/gbv/validation-service-demo/">validation-service-demo</a>
    </footer>
  </body>
</html> 
